@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.menu {
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    display: none;
    list-style: none;
}

.menu.open {
    display: block;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    color: #eee;
    cursor: pointer;
    transition: background-color .2s ease-in;
    border-radius: inherit;
}

.menu .menu-item:hover {
    background: #343434;
}

.modal-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(27, 26, 26, 0.6);
    z-index: 1000;
    transition: 0.2s ease;
    opacity: 1;
}

.modal-overlay_hidden {
    top: 100%;
    opacity: 0;
}

.modal {
    position: relative;
    top: 0;
    width: 50%;
    height: fit-content;
    padding: 15px 25px;

    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #1b1a1a;
    transition: 0.3s ease-in;
}

.modal__title {
    font-size: 2rem;
    line-height: 2.5rem;
    color: #eee;
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
}

.modal__body {
    color: #eee;
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
}

.modal__buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.modal__button {
    min-width: 50px;
    cursor: pointer;
}

.modal__button:hover {
    box-shadow: 0 0 0 1px var(--text-color);
}

.modal__confirm-button {
    background-color: #eee;
    border: 1px solid #eee;
}

.message-box {
    position: absolute;
    display: flex;
    width: 200px;
    height: 50px;
    background-color: rgba(246, 246, 246, 0.35);
    border-radius: 5px;
    border: 1px solid #9c9c9c;
    box-shadow: 0 10px 20px rgba(0,0,0,0.20), 0 6px 6px rgba(0,0,0,0.20);
}

.message-box span {
    margin: auto;
}

.block_rb {
    bottom: 50px;
    right: 50px;
}

/* Позиции для абсолютных элементов */

/* right-bottom */
.block_rb {
    bottom: 50px;
    right: 50px;
}

/* right-top */
.block_rt {
    top: 50px;
    right: 50px;
}

/* left-bottom */
.block_lb {
    bottom: 50px;
    left: 50px;
}

/* left-top */
.block_lt {
    top: 50px;
    left: 50px;
}